.search {
  background-color: var(--black1);
  width: 100%;
  height: 10vh;
  padding: 1rem;
  border-radius: 0.5rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1;
}

.search-input {
  width: 80%;
  height: 100%;
  border-radius: 0.5rem;
  border: none;
  padding-left: 60px;
}
.search-btn {
  width: 3%;
  height: 80%;
  position: absolute;
  left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-btn-icon {
  width: 80%;
  height: 80%;
}
.search-clear {
  width: 3%;
  height: 80%;
  position: absolute;
  right: 22%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-clear-icon {
  width: 80%;
  height: 80%;
}
