.search {
  background-color: #ccc;
  width: 100%;
  height: 10vh;
  padding: 0.5rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}

.search-input {
  width: 80%;
  height: 70%;
  border-radius: 3px;
  border: none;
  padding-left: 50px;
}
.search-btn {
  position: absolute;
  left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-clear {
  width: 5%;
  height: 50%;
  position: absolute;
  right: 22%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
